
@{
    ViewBag.Title = "Welcome to Zhen and Eric`s Restaurant. We are hopeful people can enjoy the meals";
}

<h2>@ViewBag.Title</h2>
<body>
    <!--Reference of images come from the Google images-->
    <img src="~/Assets/images/home-showcase.jpg" class="img-rounded">
</body>

